main {
  background-color: #6a2875;
  color: #fff;
}

div.container {
  padding: 2rem;
}

div.container > div.dashboard-header {
  background-color: #f5f3f0;
  padding: 1rem;
  color: #636060;
}

div.container > div.dashboard-header > h1 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

div.container > div.dashboard-header > p {
  padding: 5px 0;
  font-weight: bold;
}

.table-container {
  overflow-x: auto; /* Enable horizontal scrolling */
}

.table-wrapper {
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Increase top margin */
}

.custom-table th,
.custom-table td {
  padding: 10px; /* Increase padding */
  border: 1px solid #e0e0e0; /* Slightly lighter border for contrast */
  text-align: left;
}

.custom-table th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #403f3f;
}

.custom-table tr:nth-child(even) {
  background-color: #fafafa; /* Even row background color */
  color: #000;
}

.custom-table tr:hover {
  background-color: #cf9cde; /* Hover background color */
  color: #000;
}

.container-display-flex,
.booking-container-display-flex {
  display: flex;
  flex-wrap: wrap;
}

.display-service-booking > h2 {
  line-height: 2;
  text-align: center;
}

.booking-container-display-flex > div,
.container-display-flex > li {
  cursor: pointer;
  flex: 0 0 calc(50% - 2rem); /* 50% width with margin */
  height: auto;
  background-color: rgb(241, 234, 234);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  color: #292828;
}

.container-display-flex > li:hover {
  font-weight: bolder;
}

button {
  margin-top: 1rem;
  cursor: pointer;
  padding: 0px 10px;
  border-radius: 5px;
  border-color: #9952a5;
  font-weight: bold;
  color: #292828;
}

button:hover {
  background-color: #ead1f1;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .booking-container-display-flex > div,
  .container-display-flex > li {
    flex-basis: calc(50% - 2rem); /* 50% width with margin */
  }
}

@media (max-width: 480px) {
  .booking-container-display-flex > div,
  .container-display-flex > li {
    flex-basis: calc(100% - 2rem); /* 100% width with margin */
  }
}
