main {
  background-color: #6a2875;
  color: #fff;
}
hr {
  margin-top: 1rem;
}

input {
 border-radius: 5px;
 width: 40%;
 height: 1.8rem;
 border: lightgray 1px solid;
}

input[type="checkbox"] {
  width: auto;
  height: auto;
}

div.container {
  padding: 2rem;
}

div.container > div.dashboard-header > h1 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

div.container > div.dashboard-header > p {
  padding: 5px 0;
  font-weight: bold;
}

div.component-container, div.container > div.dashboard-header {
  background-color:  #f2f0f5;
  color: #2b2929;
  padding: 1rem;
  border-radius: 5px;
}

div.component-container {
  border-radius: 0;
  padding-top: 2rem;
}

.table-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  margin-top: 1rem;
}


.table-wrapper {
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Increase top margin */
}

.custom-table th,
.custom-table td {
  padding: 10px; /* Increase padding */
  border: 1px solid #e0e0e0; /* Slightly lighter border for contrast */
  text-align: left;
}

.custom-table th {
  background-color: #6a2875;
  font-weight: bold;
  color: #fff;
}

.custom-table tr:nth-child(even) {
  background-color: #fafafa; /* Even row background color */
  color: #000;
}

.custom-table tr:hover {
  background-color: #cf9cde; /* Hover background color */
  color: #000;
}

.container-display-flex,
.booking-container-display-flex {
  display: flex;
  flex-wrap: wrap;
}

.display-service-booking > h2 {
  line-height: 2;
  text-align: center;
}

.booking-container-display-flex > div,
.container-display-flex > li {
  background-color: #f2f0f5;
  color: #2b2929;
  cursor: pointer;
  flex: 0 0 calc(25% - 2rem); /* 25% width with margin */
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

.container-display-flex > li {
  height: 8rem;
}

.booking-container-display-flex > div {
  flex: 0 0 calc(50% - 2rem); /* 50% width with margin */
  height: auto;
}

.container-display-flex > li:hover, .booking-container-display-flex > div:hover {
  font-weight: bolder;
  color: #3e326d;
}

label {
  padding-right: 10px;
}

button {
  margin: 5px;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background-color: #6a2875;
  color: #ece4e4;
}

button:hover {
  background-color: #e0b3ec;
  color: #000;
}

.tab-button {
  border-radius: 5px 5px 0 0;
  padding: 5px 15px;
  margin: 2px 2px 0 0;
  background-color: #fff;
  color: #3b3a3a;
}

.tab-button:hover {
  font-weight: bolder;
  background-color: #cecbcb;
}

.tab-button.active {
  background-color:#f2f0f5;
}

/* Popup content */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  position: relative; /* Make the close button position relative to this element */
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
  width: 40%; 
}

.popup-content {
  word-wrap: break-word;
}

input#jobNumberInput, input#AddressInput, input#participantAddressInput {
  width: 100%;
  margin-top: 10px;
}

.close-btn {
  position: absolute; /* Position the close button absolutely within the popup content */
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  margin: 5px;
}

.close-btn:hover {
  color: #333;
}

/* Add more styles as needed */


/* Media query for responsiveness */
@media (max-width: 768px) {
  .booking-container-display-flex > div,
  .container-display-flex > li {
    flex-basis: calc(50% - 2rem); /* 50% width with margin */
  }
}

@media (max-width: 480px) {
  .booking-container-display-flex > div,
  .container-display-flex > li {
    flex-basis: calc(100% - 2rem); /* 100% width with margin */
  }
}
